.navbar{min-height: 100px;}

.navbar-brandv img{
    max-height: 100px;
    max-width: 100px;

}


.menu{
    align-items: flex-end;
    
}

.slider{
    margin: 10%;
    margin-top: 100px;
    max-width: 100%;
    padding: 30px 30px 30px 30px;
}

.slider img{
    max-height: auto;
    max-width: 100%;
    
}


@media(min-width: 992px){
#espai{margin-right: 40px ;
}
}

